[2013-01-11 22:50] cefn opened #1 "Codebender"
I wonder if you've come across Codebender to avoid the copy and paste bit. It should permit in-browser uploading to Arduino...
http://codebender.cc/

Waterbear already uses this I gather...
http://robotics.waterbearlang.com/garden.html?plugin=arduino

Might be worth looking into.

[2013-05-20 04:19] espertus opened #3 "Bad link"
Your online demo is awesome, but the link to it from your home page [https://github.com/gasolin/BlocklyDuino/wiki] is broken.  (It's incorrectly interpreted as a relative link.)

[2013-05-20 05:23] #3 closed, assigned to nobody

[2014-01-24 15:10] mjhoy opened #6 "incompatible arduino versions?"
@gasolin I've been noticing a few things that don't work or are missing in this and I wonder if it has to do with different versions of arduino... which I'm not familiar enough with to know about, so I thought I'd ask.

First, if a procedure returns a value, it's return type is `Dynamic`... but this is not supported when I compile it (`error: 'Dynamic' does not name a type`).

Second, it is possib

[2014-03-25 21:49] gasolin opened #7 "BlocklyDuino Daemon to flash code without copy/paste to Arduino IDE"
create a nodejs process that provide API interface and can write data to Arduino via inotool http://inotool.org/

So we don't need manually paste code to Arduino IDE

[2014-04-22 20:14] roman65536 opened #8 "function and global variable don't work"
Hi,

just started play around blocklyduino and when create i created a function, gcc gives an error on following code:

[code]

Error:
ARDUINO_ARCH_AVR -I/home/romanp/Downloads/arduino-1.5.6-r2/hardware/arduino/avr/cores/arduino -I/home/romanp/Downloads/arduino-1.5.6-r2/hardware/arduino/avr/variants/standard /tmp/build1814229737977712725.tmp/sketch_apr22a.cpp -o /tmp/build1814229737977712725.tmp/s

[2014-07-04 09:48] finnbar opened #10 "Hidden blocks in the source code"
Hi Gasolin,

I was looking through the source code of this project and I found a collection of effectively 'hidden' blocks in the source code (like modulo in math.js), where the block functions and language files exist but the actual blocks aren't available to drag into any program. Is there a way to make these blocks visible in the program so that functions like modulo can be used?

Thanks in adv

[2014-09-08 17:20] digilord opened #11 "Serial In"
Is there a serial in block? I see the serial print, but no serial read.

[2014-09-10 16:32] Adam--R opened #12 "analogWrite pins"
I love this program!  I am a teacher, and I'm really hoping to use this or something like it in my classroom.  I noticed that the only options for analogWrite commands are A0-A5.  Analog write should be used on the digital pins with pulse wave modulation.  This is pins 3, 5, 6, 9, & 10 on most Arduinos.
http://arduino.cc/en/Reference/analogWrite

[2014-09-11 02:15] #12 closed, assigned to nobody

[2014-10-28 00:27] dlannan opened #13 "Integration with Webdruino"
Hi, Im working on a live Web interface with Arduino and Im looking for a 'simple' programming system that can allow people to interface web/arduino quickly and easily. I see BlockDuino as a great candidate for this.
https://github.com/dlannan/webdruino/tree/master

Im writing to make sure the developers of BlockDuino are ok with embedding it into WebDruino?
Cheers,
Dave

[2014-10-29 00:47] SebCanet opened #14 "Update ? Translate ?"
Hello,
I tested your project and it works fine ! But I have a few questions...
I would like to know if you think to update the blockly code inside blocklyduino ?
I had to look to translate, how could I help to make it internationalized ?

Thanks a lot.

[2015-01-07 19:57] gumbypp commented on #7
I have also been working on a solution to this problem (see https://github.com/gumbypp/BlocklyDuino).  It uses a local python web server to download the code using ino.

I have also forked ino (see https://github.com/gumbypp/ino) to solve the 1.5.x path problem (it was actually solved by another user with a pending pull request to that repo) and add an option to skip the default include paths whic

[2015-01-08 20:42] gasolin commented on #7
@gumbypp Wow that's great to see a python server version! I had a version with `bottle.py` but in this case we even don't have to use the web framework. Would you consider send a pull request to merge it  back?

[2015-01-09 01:15] SebCanet commented on #14
We're different teacher, and worskshop animator from different part in France, and we will start to work on the fork I did.
But what we will create could be useful to other kids in other countries with another teachers....

But I think we'll have to change directories of different file, would you like to help us ?
I started to clean up to keep only arduino generator.

Thanks.

[2015-01-09 06:25] stevoleeto commented on #7
@gumbypp @gasolin What's the best way to do this on Windows? Any help is greatly appreciated.

[2015-01-09 07:02] gumbypp commented on #7
@gasolin I will submit a pull request soon.
@stevoleeto Unfortunately, ino doesn't work on Windows.  If the Arduino 1.5.x CLI works on Windows, it could probably be used instead of ino (the CLI doesn't work on OS X - at least as of 1.5.8).

[2015-02-07 15:17] gasolin commented on #7
@gumbypp  saw the PR in #15 , would you like modify the change with my comment? It's fine that I can do that as well after merged.

[2015-02-08 06:58] gumbypp commented on #7
@gasolin Thanks for the review - I made the suggested changes.

[2015-02-08 07:33] gasolin commented on #7
fixed with #15

[2015-02-08 07:33] #7 closed

[2015-02-12 20:52] rmetrich opened #17 "Willing to help, what are the priorities?"
Hello,
I'm willing to help develop this software which seems a good way to learning programming specially on Arduino and seems more effective than Arduiblock.
I just forked the code and would like to help.
My priorities are:
1. translate to french (in order for my kid to be able to program)
2. be able to do basic programming of his DFrobot's insect robot, requiring currently missing blocks such as

[2015-02-13 06:21] gasolin commented on #17
Thanks for willing to help :)

The first priority is need more eyes to validate this patch
https://github.com/gasolin/BlocklyDuino/pull/16

It update BlocklyDuino's blockly core up to date and bring localization into BlocklyDuino. From BlocklyDuino's point of view we need make sure the generate code still works fine with this patch.

it will be nice If you could help check it.

[2015-02-13 12:21] rmetrich commented on #17
OK, will have a look.
For now, I have some issues compiling the code: seems the build.py only creates a compressed version of the 'arduino' javascript code, which is problematic to me as it seems to use an API on the internet and I have issues with my internet connection.

[2015-02-13 18:34] stevoleeto opened #18 "New blocks, block fixes"
I've modified my fork to a certain extent over the past few months

I've added new LCD blocks to work with most LCD's that come in a kit.
I've added blocks to be used with Sparkfun's 9 Degrees of Freedom Sensor Stick (Gyro, Compass, and Accelerometer).
I'd added blocks to be used with a shift register.

I've also fixed a few bugs throughout my time looking at it, specifically with previous blocks

[2015-03-01 19:52] SebCanet commented on #1
We've forked and added CodeBender in our version : https://github.com/technologiescollege/BlocklyDuino
But it's in French for a lot of blocks. Working on internationalisation....

[2015-03-01 19:54] SebCanet commented on #6
I created a way to chosse between Uno and Mega board, and created a 'PWM' section for pin choice.
If it's useful...

[2015-03-01 19:59] SebCanet commented on #14
Well, once again I'll ask you about internationalize, because a spanish teacher asked to translate my fork. However I prefer to have only one repository if possible.
And as you wrote name in 'hard' in blocks, it won't be possible...
Is it possible instead to use the method
var name = Blockly.Procedures.findLegalName(     Blockly.Msg.PROCEDURES_DEFNORETURN_PROCEDURE, this);

Thanks a lot.

[2015-03-02 06:53] gasolin commented on #6
Sure please provide PR so others could pick it if needed

[2015-03-02 06:54] gasolin commented on #14
In newly update version I think you could follow Blockly guide to internationalize BlocklyDuino.

[2015-03-02 06:55] gasolin commented on #17
Hi new version is available with latest blockly core. Have you fixed the compile problem?

[2015-03-02 06:57] gasolin commented on #18
@stevoleeto If possible please fire issues with separate PR of each independent changes. So others could get benefit from your contribution

[2015-03-02 07:22] gasolin opened #20 "check howto make BlocklyDuino internationalizable"
Since latest merged blockly core has internationalization architecture, BlocklyDuino should align to blockly and provide strings in that way.

[2015-03-03 02:21] SebCanet commented on #14
Yes, but you have to explain how to use text from database in js file '\msg\js'
Because if new block are with text instead of reference to text, we cannot internationalize.

[2015-03-03 02:23] SebCanet commented on #17
About translation in French, I've done it : https://github.com/technologiescollege/BlocklyDuino
Don't waste your time doing it again, there're much funny things to do to enhance it :-D !

[2015-03-03 02:26] SebCanet commented on #20
Thanks a lot !
A spanish teacher asked to translate my version, but he has to rewrite everything...
I hope with this new core it'll be more easy.
Thanks !

[2015-03-03 19:30] rmetrich commented on #17
Sorry, I lacked time these weeks.
I did apply the initial patch then tried to merge it in the current branch with some difficulties.

[2015-03-07 09:49] ltj2006 commented on #6
**@mjhoy** Could you please tell me how to tweak the analogWrite to pin 3, 5, 6, 9, 10, 11 problem? Do you modify blocklyduino-code or C-Code in the Arduino-IDE?

[2015-03-07 13:03] mjhoy commented on #6
@ltj2006 hmm, not sure, it's been so long and I've since lost any modifications I made. Perhaps it was fiddling with this line? https://github.com/gasolin/BlocklyDuino/blob/master/blockly/blocks/base.js#L112 Changing from a dropdown to a text input? Just guessing.

[2015-03-08 19:46] ltj2006 commented on #6
**@mjhoy** Ok, that's one way. Yesterday, I counldn't wait for your answer and I have studied the blocklyduino code and modified this line ( https://github.com/gasolin/BlocklyDuino/blob/master/blockly/generators/arduino.js#L78) to this:

analog : [["A0", "A0"], ["A1", "A1"], ["A2", "A2"], ["A3", "A3"], ["A4", "A4"], ["A5", "A5"], ["3", "3"], ["5", "5"], ["6", "6"], ["9", "9"], ["10", "10"], ["11",

[2015-03-10 09:05] SebCanet commented on #20
FINISHED ! I rewrite a totally new BlocklyDuino from Blockly's example 'code' with language menu.
Thanks a lot for your work taht helped me to start this work that is totally new from scratch. But as I use some of your code for Grove module, I mentioned your work. But I have to rewrite everything in Grove module to use 'relative' text from language file.

[2015-03-10 09:10] SebCanet commented on #1
Finished, if you wanna have a look...

[2015-03-11 12:44] misterhay opened #21 "typo in README.md"
Under the "Features" section, I believe "Interacive" should be "Interactive".

[2015-03-21 15:09] gasolin commented on #21
fixed, thanks!

[2015-03-21 15:09] #21 closed

[2015-03-27 17:28] bdemers opened #25 "Demos fail to load"
The demo's in the README fail to load, looks like one of the resources throws a 404
http://www.gasolin.idv.tw/public/blockly/demos/blocklyduino/examples/blink.xml

[2015-04-01 09:40] gasolin commented on #25
fixed, thanks!

[2015-04-01 09:40] #25 closed

[2015-04-01 21:08] bdemers commented on #25
Nice!

[2015-04-02 09:12] gasolin commented on #20
great, would you like to point out your repo so somebody can redirect to your repo from here, or make a PR for BlocklyDuino?

[2015-04-06 22:32] SebCanet commented on #14
I tried to explain how to create multilingual block here :
http://tic.technologiescollege.fr/wiki/doku.php/en/blockly_rduino/create_blocks
I hope it's understandable...tell what I can enhance.

[2015-05-11 19:30] rsrini7 opened #29 "Few issues"
I have tried in Ubuntu 14.10. Following are the observations.

First error:
Uncaught TypeError: Cannot read property 'value' of null

So, changed in function uploadClick() from blockly_helper.js
'textarea_arduino' to 'content_arduino'

in Port 8080
Arduino INO web server
To upload to an Arduino board connected to this computer, POST to /.

In Port 8000
Application Cache Error event: Resource fetch

[2015-05-19 04:35] jaewhi23 opened #30 "글상자 새로운 모드 관련 버그"
1. 글상자 새로운 모드의 내용 입력상자의 크기 조절이 가능합니다.
2. 오브젝트 추가 창에서 글상자 새로운 모드로 선택후 생성시 글상자의 내용이 적용이 안되고 '글상자'로 오브젝트가 생성됩니다.
https://entrykorea.slack.com/files/jaehwi/F04TT8BL8/record_2015_05_19_13_29_39_542.mp4

[2015-05-19 06:49] gasolin commented on #30
Sorry I can't read korean, could you translate your issue to english?

[2015-05-19 07:04] jaewhi23 commented on #30
Oh, I'm sorry. I thought I was in other hub. My mistake. I'll close it!

[2015-05-19 07:04] #30 closed

[2015-05-24 13:18] gasolin commented on #1
Thanks for reminding, I add the `fork` tag to help people finding your fork

[2015-05-24 13:21] gasolin commented on #6
@ltj2006 provide the way to customize it. To keep it simple (not all boards support using pin 3, 5, 6, 9, 10, 11 as software PWM) I'd rather not put those pin in the BlocklyDuino

[2015-05-24 13:21] #6 closed

[2015-05-24 13:31] #10 closed

[2015-05-25 02:04] #11 closed

[2015-05-25 02:06] gasolin commented on #13
I add the `fork` tag to help people finding your work, (though its not a fork :p)

[2015-05-31 12:29] rsrini7 commented on #29
Can anyone help me please? Tool is looking good and want to learn and explore.

[2015-06-16 12:13] gasolin opened #32 "replace inotool to official Arduino IDE command"
from version 1.5.0 arduino has its own official CLI, we could use it to upload sketch and have cross platform support
https://github.com/arduino/Arduino/blob/ide-1.5.x/build/shared/manpage.adoc

[2015-06-16 14:35] gasolin commented on #29
Hi, thanks for step and fixing issues.

I think you need to install modified version of ino tool. But I think you may like try to implement #32 if you know python well.

[2015-06-16 14:38] gasolin commented on #29
`ino: not found` means you did not install ino tool. check https://github.com/gasolin/BlocklyDuino#integrated-arduino-upload to install ino tool

[2015-06-16 14:38] gasolin commented on #29
update above addressed issues, thanks!

[2015-06-16 14:38] #29 closed

[2015-06-16 14:44] gasolin opened #33 "fix chainable LED"
current edit field is broken,  the container is missing.

[2015-06-19 06:54] gasolin opened #34 "add link comment for LCD module"
add link in comment to notify user to fetch the external include library
http://www.seeedstudio.com/wiki/File:SerialLCD_Library.zip

[2015-06-19 06:55] gasolin opened #35 "update web demo version"

[2015-06-20 15:53] gasolin commented on #35
done

[2015-06-20 15:53] #35 closed

[2015-06-23 10:47] rsrini7 commented on #29
Thanks. i tried to install inotool and it is not supporting the latest arduino then i have installed "http://32bits.io/Arturo/" which works well. But the problem is now i am facing same origin policy between blockly web and the arduino listener. I tried with adding in Header set Access-Control-Allow-Origin "*". Still brower is blocking. Any suggestion ?

[2015-06-24 18:44] gasolin commented on #33
fixed

[2015-06-24 18:44] #33 closed

[2015-06-24 18:52] gasolin commented on #32
done in #37

[2015-06-24 18:52] #32 closed

[2015-06-24 18:52] gasolin commented on #32
done in #37

[2015-06-27 15:39] stevoleeto commented on #18
@gasolin  Will do! Sorry this has taken so long. I will be doing this in the next few days.

[2015-07-04 17:19] SebCanet opened #41 "Co-create blocks"
Hi,
there's a lot of forks of your wonderful idea. But I think we must not work separatly, waste time.
At this time, your co-helper does not create blocks the right way, and the internationalisation problem.

I think we should work to create "good way" to create blocks, I started on my wiki : http://tic.technologiescollege.fr/wiki/doku.php/en/blockly_rduino/create_blocks
but I don't know if everyt

[2015-07-06 20:13] gasolin commented on #41
It's a good idea to have reusable blocks. Though currently we did not have much way to share them in proper format.

I was thinking to make a blockfactory-like tool to create and submit the arduino blocks more easier, but still lack of time :/
https://blockly-demo.appspot.com/static/demos/blockfactory/index.html

[2015-07-06 20:52] stevoleeto commented on #41
@gasolin  We could get started on a version of this. Here's an example of something I just did with the code factory. We could expand on it more to get it to create the generator code.

<img width="952" alt="screen shot 2015-07-06 at 1 50 21 pm" src="https://cloud.githubusercontent.com/assets/8977732/8532860/0c6eb5f2-23e6-11e5-965f-8114c16d12d2.png">

[2015-07-06 23:34] SebCanet commented on #41
Hi,
I sent mails to TC teacher to ask if this could be an exercise for student....because I have no time for that and no special knowledge in it....

I think first we should prepare a 'good' way to create blocks, as BitBloq : https://github.com/bq/roboblocks

For tests : https://github.com/technologiescollege/Blocks-Arduino

What do you think of that ?

[2015-07-07 00:13] stevoleeto commented on #41
Agreed. In the meantime, I'll contiune to mess around with the Block Factory stuff and see what I can come up with.

[2015-07-07 00:32] carlosperate commented on #41
Hi all,

This looks quite promising. I have a fork of blockly myself that I originally started developing about a year ago when it looked like Bloklyduino wasn't being actively maintained and there were tons of blockly updates that I personally needed for my project (together with static typing). Now it looks like this is gaining a bit of traction again and it'd be exiting to see it grow.

@gasoli

[2015-07-07 13:51] SebCanet commented on #41
I think it's a really damn good idea !!!!
Let's do it !

[2015-07-08 08:32] gasolin commented on #41
@carlosperate thanks for the further proposal.

I have some concerns about moving to an github organization.

The very first is forming the organization wont gain organizers automatically.
We need have several active contributors first then consider forming the organization.

2nd is forming the organization wont make projects active automatically. The dreamed block creator or blocks repository won

[2015-07-08 19:57] carlosperate commented on #41
Hi @gasolin,

I completely understand, and you are certainly right in that making an organisation won't automatically bring collaborators.

The reason I suggested it is because if we created repositories related to Blockyduino, but are not somehow officially promoted by Blocklyduino itself, they won't get any traction either.

When I created my own blockly fork for arduino I did it at a time when

[2015-07-17 20:59] carlosperate commented on #41
Is anybody still interested in the original topic of the block factory and block collection? @stevoleeto where you able to advance the preview you showed us?

[2015-07-17 21:04] carlosperate commented on #34
If you are busy I can give this a go. Do you mean add a block comment (which converts into a code comment once the arduino code is generated) to each of the 3 LCD blocks?

[2015-07-18 03:22] stevoleeto commented on #41
@carlosperate Depends on how far we want to go with it. I tinkered with it a bit, but it's on par with what a typical block factory does. It generates the block definition and just has the user finish the Arduino definition for the block.

[2015-07-18 16:56] carlosperate commented on #41
Well, that's still progress. Which version of the block factory have you used? The latest one will need Blocklyduino to be updated to the latest blockly.

I'm thinking having the main blockly area on the left divided on 2 workspaces (that will also need the latest version of blockly), the top one stays as it is with the factory blocks, and the bottom one would have all the blocks similarly to the

[2015-07-18 19:12] carlosperate commented on #41
This is more or less what I had in mind:

![screen shot 2015-07-18 at 20 10 13](https://cloud.githubusercontent.com/assets/4189262/8763190/3e423962-2d89-11e5-8804-2f3a0fd72172.png)

Nothing is really implemented, just a quick play with the layout.

[2015-07-19 01:32] stevoleeto commented on #41
Sweet, let's get working on this! Working on BlockFactory may also be something to contribute to Blockly in general as well. Where should I upload what I have started so we can continue working on it?

[2015-07-19 04:48] carlosperate commented on #41
If you add it to your Blocklyduino fork it can then be updated there or pull requested into any other fork.

I have just submited a pull request to update Blocklyduino to the latest blockly, while it gets reviewed we could continue on my working updated version (https://github.com/carlosperate/BlocklyDuino).

If you add it to your fork first, make sure it is inside the app folder.

[2015-07-19 20:38] SebCanet commented on #41
I don't know if I did it well, but I created an organization to try to work together.
https://github.com/Blockly-ar-Duino
What do you think of that ?
I give admin rights to everybody to start, because I'm not very ease with Github....

Hope it could help.

[2015-07-20 21:29] carlosperate commented on #41
The way I look at this, it can only reach decent exposure if the block factory and collection repositories get somehow adopted by Blocklyduino (either pulled into the Blocklyduino repository, or as an organisation with individual repos as previously discussed).

I don't mind having a different github organisation while we work on this, but if the end goal is to merge it back or transfer the reposi

[2015-07-20 22:44] carlosperate commented on #8
I've a fix ready to be sent as a pull request for this issue and the problem that having multiple arguments without renaming cause a name collision.

I'll wait until the pull request to update to latest blockly (https://github.com/gasolin/BlocklyDuino/pull/45) is reviewed before submitting it to avoid merge conflicts.

[2015-07-21 16:16] carlosperate commented on #8
The pull request has been submitted.

It basically forces int type for function arguments, so the user still needs to use the right type of block when calling the function, but then it should verify just fine. It also limits the block type that can
be attached to the return input to be a number or boolean (as the int return type is hard-coded, due to limitations in blockly dynamic typing nature).

[2015-07-22 00:09] gasolin opened #48 "migrate project to https://github.com/orgs/BlocklyDuino/"
as discussion in #41, create an organization to host BlocklyDuino related projects

[2015-07-22 00:10] carlosperate commented on #48
:+1:

[2015-07-22 00:32] gasolin commented on #41
Thanks for all your passion to make BlocklyDuino better than ever.

After some research I found github able to give different permissions to each repository in an org. Therefore there's no resistance to migrate BlocklyDuino there. I created the org at https://github.com/BlocklyDuino and assign full admin permissions for BlocklyDuinoFactory and blockslibrary to you, so you could do prototyping in f

[2015-07-22 00:33] gasolin commented on #48
migrated to https://github.com/BlocklyDuino/BlocklyDuino

[2015-07-22 00:33] #48 closed

[2015-07-22 02:51] carlosperate commented on #41
Thank you @gasolin! This should really help us get this up and running quickly with more control. And thank you also @SebCanet and @stevoleeto for the great idea and starting all of this, the possibilities are quite exiting :)

[2015-07-22 12:00] SebCanet commented on #41
Thanks a lot !!!!
Lets' go creating !

[2015-07-23 15:38] carlosperate opened #49 "grove hw images"
I was wondering if there was an specific reason why the grove block images were being hotlinked. If we copy the images into the repository (with the appropriate attribution), they would be available offline and we could also remove the background:

![grove block](https://cloud.githubusercontent.com/assets/4189262/8854691/1ec9ddf0-3159-11e5-82b4-ed75eb286381.png)

[2015-07-23 15:57] gasolin commented on #49
No particular reason, Just feel lazy.
For people who don't want to use grove modules they could remove blocks directly without concern images.

Would image storage also be considered into shareable blocks? #41

[2015-07-23 16:03] carlosperate commented on #49
That's a very good point, we'll need to look into that. I cannot think of a simple way to do that in javascript only.

[2015-07-25 03:23] stevoleeto commented on #41
@carlosperate @SebCanet @gasolin I went ahead and pushed the files I was using into the BlocklyFactory repo.

[2015-07-25 03:34] carlosperate commented on #41
That's great! Unless you are planning to still work on it tonight, tomorrow I'll update it to the latest Blockly/BlocklyDuino to add a second workspace.

[2015-07-25 03:51] stevoleeto commented on #41
@carlosperate Nope! Go ahead.

[2015-07-29 13:59] gasolin commented on #49
maybe base64 images can serve it well

[2015-07-29 14:02] gasolin opened #53 "intent move main branch from master to gh-pages"
Since BlocklyDuino can be hosted directly on a static web page, and github allow us to host a static web page via create gh-pages branch, we could use that and host BlocklyDuino directly.

[2015-07-29 14:08] carlosperate commented on #49
Is that what the text block uses for the quotation marks?

[2015-07-29 14:27] gasolin commented on #49
you could try with some online tool such as http://www.base64-image.de/

[2015-08-04 14:01] gasolin commented on #53
self hosting BlocklyDuino at http://blocklyduino.github.io/BlocklyDuino/blockly/apps/blocklyduino/

[2015-08-04 14:01] #53 closed, assigned to nobody

[2015-08-13 12:45] Arachnid commented on #49
I think it would be a good idea to remove the images entirely. I don't believe they add anything to the usability, and they certainly detract from the visual appeal.

[2015-08-13 13:04] carlosperate commented on #48
Is the gh-pages branch the new "master" branch?

[2015-08-13 22:07] Arachnid opened #58 "Consider removing no-op grove blocks"
Some of the grove blocks, such as the ultrasonic rangefinder, clearly add a lot of value, because they provide an interface to library functionality. A lot of them, though, such as the button and buzzer blocks, are exactly identical to standard blocks like digitalRead, digitalWrite, and analogRead.

Blockly's philosophy is to make the blocks visually resemble the code that's generated in order to

[2015-08-14 03:33] gasolin commented on #48
yes, therefore we'd have always update version

[2015-08-14 03:36] gasolin commented on #49
Really? In contrast I even want to put every logic blocks with images so child can learn programming before they can read words :p

[2015-08-14 06:11] Arachnid commented on #49
I think that's a noble sentiment, but I don't think it's very practical. I'm pretty sure a child too young to read won't be able to make the leap from the Grove sensor in their hand to the picture onscreen, much less know how to use it!

[2015-08-14 07:39] carlosperate commented on #48
I wonder how this is going to affect forks relaying on "git pull remote
master" to update their version with the latest upstream. Maybe it'd be
better to delete the master branch to produce so that it produces an error
in pull and forces the users to check the repository in github?
On 14 Aug 2015 04:33, "gasolin" notifications@github.com wrote:

[2015-08-14 08:48] carlosperate commented on #58
I disagree, I think specially for somebody starting out fresh, they can initially use the grove blocks (as it is a very easy way to identify what they are using) and then they have the option to learn how to use the normal IO blocks for their control if they wish to do so.

[2015-08-14 10:04] Arachnid commented on #49
I was talking to the teacher I'm working with, who's now tried both versions, and she thinks the version without images are easier for kids to work with.

If you disagree, though, would you accept a patch that enabled or disabled images in blocks globally with a flag, which was set to on by default? That would make it easy for maintainers of forks like me to turn it off if it's not wanted.

[2015-08-14 14:43] SebCanet commented on #49
Hi,
I'm back. About images, in France, every teacher or educator I'm working with think it's useful...sorry.
You already have the option collapse/expand block, is it what you want ?
Or maybe we could find a way to generalize this option to all block ?

[2015-08-14 14:56] Arachnid commented on #49
Collapsing the block hides useful information about selected parameters; what I was talking about is saving space by omitting the image entirely. I think providing this as a compile-time option would be the best of both worlds, personally, and make it easier to maintain a branch without them.

[2015-08-14 15:55] stevoleeto commented on #58
I actually agree @Arachnid on this one. Less so about their functionality, but rather how they focus on one specific kit. We could choose to support multiple beginner kits (Arduino, Sparkfun Inventor, etc etc), and have specific kits chosen at compilation if desired.

[2015-08-14 16:02] SebCanet commented on #58
I used Bockly with 9 years kids, after Scratch initiation. It worked well. But I think we need specific blocks to help newbies, like kids.
For multiple support, I did it on my version : https://github.com/technologiescollege/Blockly-at-rduino
If you want test and take what you need, what you want to enhance.
 I'll work on what we need in blocks this week-end for the repo.

[2015-08-14 16:07] Arachnid commented on #58
@stevoleeto I think that being able to select which categories get included dynamically would be an excellent feature to have.

[2015-08-14 22:13] Arachnid opened #60 "Variables don't do typechecking"
While other blocks check types (eg, if, comparison), any block will accept a variable. For instance, you can't do "if(0)", but you can do "if(x)" where x is an int.

[2015-08-15 10:52] carlosperate commented on #60
With the current implementation it is not possible to discriminate by type of a variable as the blockly implementation itself does not distinguish if the variable has a specific type.

The Arduino generator has defined all variables to int, but that happens only on code generation so you could have a variable equal a pin input and you can use that for an if statement.

[2015-08-16 12:35] gasolin commented on #48
Sorry for not notice the merge requirement. How about try with rebase than merge?

[code]

[2015-08-17 15:16] carlosperate commented on #49
Not quite sure how you were thinking about implementing that, as it seems like an unnecessary addition to the build file. However, I do agree that having a flag that enables or disables the images on run time would not be a bad option.

And about:

You'd be surprised, a lot of kids these days learn how to use tablets and computers before they learn how to read. I've seen 6 year olds writing actual

[2015-08-17 15:22] Arachnid commented on #49
Regarding enabling it, I was figuring on setting it as a parameter in one of the JS files that the blocks depend on, and checking it in each block. Then enabling or disabling it is a oneliner.

Were the 6 year olds able to read? I'm struggling to see how someone who couldn't read would find these images useful: they might be able to identify the block, but how would they know how to configure it?

[2015-08-17 18:05] carlosperate commented on #48
I don't think there is any real issues rebasing or merging the contents of the branch. What I was trying to communicate is that I would assume most forks might try to pull the latest changes by doing a git pull from master. So, unless they happen to follow the issue tracker, or randomly notice that the main branch is not "master", but "gh-pages" (very easy to miss on the github interface), then mo

[2015-08-18 15:41] gasolin commented on #49
I'm fine if someone want patch the image block to make it can be configured to not shown on screen.
If it's there we can add images to `digitalRead` / `loop` blocks and see if it helps for younger children :-)

[2015-09-10 08:27] gasolin commented on #58
For me I like to have visual aid rather than plain digitalRead/digitalWrite, but it's just my taste.
Maybe we could add help string in those module to hint user that they could use normal block instead.

And it will not be an issue if we have a dynamic set to load blocks

[2015-09-10 08:42] gasolin commented on #60
https://github.com/BlocklyDuino/BlocklyDuino/pull/27 seems fix part of this issue,

since the origin pull requester does not response for a while, welcome picking that and make a fix

[2015-09-10 16:07] carlosperate commented on #60
Well, https://github.com/BlocklyDuino/BlocklyDuino/pull/27/ only adds a type during code generation, and only by using a value hardcoded into a drop down field. Blockly itself has no clue as to which "type" a block is in the workspace, unless there are additional attributes added to the blocks themselves. This would require to edit every single block definition in Blockly, which can be quite a bit

[2015-09-10 16:10] carlosperate commented on #58
If some somebody works an a feature to have the blocks dynamically added added to the toolbox, and an option to display or hide an image is also included, maybe this post from the Blockly user group can be useful if the blocks are not correctly re-rendered https://groups.google.com/forum/#!topic/blockly/4BR1trqQ4gw

[2015-09-10 16:14] Arachnid commented on #60
The current blocklyduino has at least some support for variable type - you can't drop a string and an int as two arguments to a math operator, for instance.

[2015-09-10 16:33] carlosperate commented on #60
They are not proper variable types, they are block input and output types hardcoded into the blocks themselves, which can be set to any javascript string. When you create a block you can specify its [output type like this](https://github.com/BlocklyDuino/BlocklyDuino/blob/gh-pages/blockly/blocks/math.js#L48), and its [input type like this](https://github.com/BlocklyDuino/BlocklyDuino/blob/gh-pages

[2016-01-26 06:50] leekj1840 opened #64 "File not found BlobBuilder.min.js and favicon.ico // etc error.."
![image](https://cloud.githubusercontent.com/assets/16893391/12574100/1918b70e-c444-11e5-96fe-8f3a073ab704.png)

where file.....

and

upload button click

![image](https://cloud.githubusercontent.com/assets/16893391/12574121/4e263746-c444-11e5-966f-5be2a59767a6.png)

why error..?

python version 2.5

I want go home.. ;o;

[2016-01-26 12:54] carlosperate commented on #64
To use unicode in Python 2 the code probably needs to be updated, if you have python 3 installed as well (and if the script works on Python 3) that might resolve the issue.

[2016-01-27 03:03] leekj1840 commented on #64
![default](https://cloud.githubusercontent.com/assets/16893391/12602519/435760de-c4ed-11e5-893e-85664b3e192e.PNG)

python 3 install = not launch

So i install python 2.7.11

and ascii(x) utf8(o)

but upload button click = fail error

thanks to your answers

[2016-01-27 07:59] carlosperate commented on #64
If it is failing at a print statement is definitely still a unicode error, might need more modifying to make it fully compatible under python 2, or updated to make it python 3 compatible.

[2016-02-04 01:08] gasolin opened #65 "Gathering Related Resource for STEM/Education"
I occasionally got some request about providing some suggestion of using Blockly + Arduino on Education/STEM/Robots

Please share any related experience here.

[2016-02-04 01:34] gasolin commented on #65
Though I'm not in educational area, if you want student learn Arduino code afterward, I think BlocklyDuino is still the best way to do so.

Another way is through scratch
http://learn.makeblock.cc/learning-scratch/#Step1-Install-the-mBlock--amp--Arduino-driver

Scratch has better IDE, but it will be easier to extend new block through BlocklyDuino instead of scratch.

[2016-02-07 04:27] amigojapan opened #66 "you need to add a True block"
I tried to make a while loop,   but when I tried to connect a 1 to the while loop to do while(1) , the block did not allow me to connect it, I guess because it is not a logic block...   and when I looked into the logic blocks I could not find the "True" block, which I know is part of the original blockly... so yeah, I wonder how I can make an eternal loop....

Thanks in advanced!

[2016-02-10 21:14] ekawahyu commented on #65
I wrote a simple Arduino library to move the robot forward, backward, turning left/right. The library is basically sending JSON string over a serial port. Any pointer on how I can add new blocks and where to look in your code (if somehow I can copy and modify from there)? Do I need to start by creating new blocks from the block factory first?

[2016-02-10 22:09] stevoleeto commented on #65
@ekawahyu Every block consists of a block definition (creates the block) and a generator definition (generates the Arduino code from the block).

Look at how the previous blocks were defined in those two areas. Let me know if you need more clarification.

[2016-02-11 07:01] ekawahyu commented on #65
@stevoleeto I tried to make a similar Control block - Delay function call with Block Factory, but my Delay missed something:

My Delay generated from Block Factory:
Blockly.Blocks['base_delay'] = {
  init: function() {
    this.appendValueInput("DELAY_TIME")
    ...
}

BlocklyDuino's Delay:
Blockly.Blocks['base_delay'] = {
  init: function() {
    this.appendValueInput("DELAY_TIME", 'Number')

[2016-02-11 16:41] ekawahyu commented on #65
I built the blocks with a missing parameter 'Number' on base_delay block, but everything seems to work just fine. I can drag and modify the delay time, even the code generated is correct. What is that 'Number' parameter used for?

[2016-02-21 21:31] ronnqvist opened #67 "Upload not working in Linux"
When trying to upload my sketch I get this in Ubuntu Linux 14.4:

[code]

[2016-03-20 11:41] gasolin commented on #66
Hmm I haven't use that further. The reason why I did not include true block is the general usage can be done by pre-bundled blocks. I'd prefer a separate do-while loop with pre-bundled true block

Welcome to contribute

[2016-03-24 19:14] jbet opened #69 "transmit a value to a fonction"
Hello,
I need to use function, and to transmit two values, for robot and Arduino Uno.
With Blockly, no problem, we can do it.
The problem begin when we compile ;  It miss the type integer in front of the value.

Exemple  speed_right_motor must be transform by **int** speed_right_motor to have the right code :
 int speed_right_motor speed()

[2016-03-25 08:40] carlosperate commented on #69
All variables are globals on Blockly and BlocklyDuino, so if you have that value already set, you don't need any arguments in the function, you should  be able to just use it directly.

[2016-03-25 19:54] jbet commented on #69
Thank you for your answer.
I use Blocky@rduino.

I will test,and I give you an answer.

Where do you write, for me it's in France.

----- Mail original -----
De: "Carlos" notifications@github.com
À: "BlocklyDuino/BlocklyDuino" BlocklyDuino@noreply.github.com
Cc: "jbet" jb.etieve@free.fr
Envoyé: Vendredi 25 Mars 2

016 09:40:09
Objet: Re: [BlocklyDuino] transmit a value to a fonction (#69)

All var

[2016-03-27 16:48] jbet opened #70 "Error transmit data to a fonction."
When I compile this block

![selection_142](https://cloud.githubusercontent.com/assets/5906988/14066509/922e6f94-f44b-11e5-9b8d-10647e7e7410.png)

I obtain this error
![selection_141](https://cloud.githubusercontent.com/assets/5906988/14066520/c088cccc-f44b-11e5-8ce4-519c216dc1ed.png)

The error comme from the variable Vitesse_gauche, or Vitesse_droite, in the function Vitesse_robot, has no type.

[2016-03-28 12:25] carlosperate commented on #70
There is a chance this could be an issue with your customised blocks rather than BlocklyDuino. Could you replicate using original BlocklyDuino blocks so that we could investigate?

Very hard to figure it out from a fork, specially without seeing what the code produced is. The default behaviour is to declare a void function if no return is specified, and all arguments are of type int.

[2016-03-28 12:47] carlosperate commented on #66
@amigojapan have a look at #71 to see how to easily add the block into your own fork if you need it.

[2016-03-28 13:00] jbet commented on #70
**I have do a simple example**
![selection_143](https://cloud.githubusercontent.com/assets/5906988/14078090/fbe78af4-f4f2-11e5-8102-eb8e20d81165.png)

**Then the code for Arduino**
int led;
int Etat bouton 1;
int led 1;
void Allumer_Eteindre_LED1(led) {
  if (led == 1) {
    digitalWrite(1,HIGH);

  }
  if (led == 0) {
    digitalWrite(1,LOW);

  }
}

void setup() {
  pinMode(1, OUTPUT);
  pinMode

[2016-03-28 13:09] carlosperate commented on #70
The following two lines are not valid C/C++ code:

[code]

And the function `Allumer_Eteindre_LED1` is not generating the function argument code correctly, as not type is set:

[code]

They both seem to be issues directly related with the changes made in Blockly@rduino rather than BlocklyDuino, so you'd probably be able to get better support in their github repository issue tracker. Maybe @SebCane

[2016-03-28 15:21] jbet commented on #70
Thank you for your answer. I will used Blocky@duino with pupils 12 year's to 15 year's old.
That the new " program" for technology.

Best regard.

[2016-03-28 15:21] #70 closed, assigned to nobody

[2016-03-30 12:08] jbet opened #72 "Traduction bluetooth block in french"
French  traduction
![selection_155](https://cloud.githubusercontent.com/assets/5906988/14141555/1505b3ce-f680-11e5-8396-d3c576067c13.png)
"Lire" is not the rignt traduction
Could you change the block  bluetooth, by remplacing "lire" by "envoyer" as we seen on the spanish traduction.

Spanish traduction
![selection_156](https://cloud.githubusercontent.com/assets/5906988/14141592/59893e8a-f680-11e5-

[2016-03-30 13:48] carlosperate commented on #72
Are you sure you are using this BlocklyDuino? I believe there are no translation for the current blocks, and the Bluetooth block is a different colour. Apart from that the BlocklyDuiono version has "receive" first and then "send", which seems to be the opposite way displayed in your screenshot for both languages.

[2016-03-30 18:27] jbet commented on #72
I use this.
http://www.technologiescollege.fr/blockly@rduino/?lang=fr

[2016-03-30 18:44] carlosperate commented on #72
You will get better support in their repository then: https://github.com/technologiescollege/Blockly-at-rduino

[2016-04-07 05:49] iszufu opened #73 "Can BlocklyDuino achieve real-time controlling with Arduino by firmata protocol?"
In my case, BlocklyDuino can only generate arduino code and upload the code to an arduino board, rather than communicate with a board in real time. So, if I would like to make it happen, just like what [snap4arduino](http://s4a.cat/snap/) has done, what should I do?

[2016-04-07 07:02] iszufu opened #74 "arduino --upload returned 259"
When I upload the generated arduino code from blocklyduino page, the python server side shows this problem, what is this? BTW, the server has already found the right port and the directory that including arduino app.

[2016-04-07 07:06] gasolin commented on #74
please attach the error log, thanks

[2016-04-07 07:09] gasolin commented on #73
You'd better check johhny-five or other blockly tool to generate commands. BlocklyDuino is used to generate real arduino code.

[2016-04-07 07:09] #73 closed, assigned to nobody

[2016-04-08 06:21] iszufu commented on #74
I had successfully uploaded the code to a Uno board when I closed the proxy software, thanks anyway.

[2016-04-15 05:47] gasolin commented on #72
Yeah BlocklyDuino does not provide translation yet

[2016-04-15 05:47] #72 closed, assigned to nobody

[2016-04-15 05:48] gasolin commented on #74
Glad you figure it out. Close the issue :)

[2016-04-15 05:48] #74 closed, assigned to nobody

[2016-04-17 11:12] rimish786 opened #75 "New Blockly"
Hello Sir,
Earlier I was using Codevision Avr software to program microcontroller
I am making new blockly for microcontroller Atmega8, Atmega16, Atmega32
I am Successfully able to convert blockly code to C language.
I want to compile the c code now.
I need gcc-avr, avr-libc, binutils-avr and one programmer library to dump program into microcontroller
I got all above libraries except programmer to

[2016-04-27 09:02] jwill4 opened #76 "New Zumo32U4 blocks"
Very new to this.
I have created block and generator files for the Pololu Zumo 32U4 mini-sumo bot, including:
LCD,
buttons,
prox sensors, and
motors.

They are at:
https://github.com/jwill4/Zumo32U4Blocks/blob/master/README.md
They are free for all to use and abuse as they see fit.
I notice at least one other has created blocks for Zumo.
I am happy to upload my block and generator js files to the

[2016-05-05 16:40] jwill4 commented on #65
"code for life" website has a blockly tutorial which starts at total beginner and is very slow paced - for primary education.  The best part is it has an introduction to python which allows students to begin writing script.

[2016-05-05 16:44] jwill4 commented on #65
I have used the ZUMO32U4 bots by Pololu in year 10 education.  We start with Blocklyduino running blocks i created specifically for the bots. see my repository for more. https://github.com/jwill4/Zumo32U4Blocks

[2016-05-05 18:32] jwill4 opened #77 "Help with infixing blocks in generator script"
I paste below my generator code for a Zumo bot motor block.

It works fine if i drop the block directly on the blockly "stage", however if i try to drop this block inside another block (e.g. loop or conditional) it does not generate code.  It even seems to stop the loop or conditional that it is dropped into from generating code.

What am i doing wrong?

[code]

Please tell me if this is the wrong

[2016-05-05 18:45] jwill4 commented on #77
Here is the block code, in case it is relevant.

[code]

[2016-05-06 01:14] gasolin commented on #77
You should check with Zumo bot developer & report it in their repository for a customized block

[2016-05-06 01:17] gasolin commented on #77
Oops I saw you are the Zumo bot developer :p

Could you post the generated Arduino code? Eventually the source talks.

[2016-05-06 07:10] jwill4 commented on #77
Thanks so much for the reply.
If i drop just a "Zumo Left Motor" block onto the Blocklyduino stage i get this:

[code]

Which is perfect.
(If i drop a number block into the speed input notch it is inserted correctly into the motors.setLeftSpeed() function call.  Again perfect).

However if i first drop a "repeat while do" block onto the stage and THEN try to insert the "Zumo Left Motor" into that

[2016-05-06 07:59] stevoleeto commented on #77
For the Blockly.Arduino generator code, just simply return code.

[code]

I just tested it and it should work.

[2016-05-06 12:28] jwill4 commented on #77
Thank you @stevoleeto for your response.
I don't understand.  Wasn't i returning code ?
I cant see the difference between my code and yours, except in the following line:
`Blockly.Arduino.definitions_['define_Zumo32U4Motors'] = '#include <Zumo32U4Motors.h>\n';`
where you have:
`Blockly.Arduino.definitions_['define_Zumo32U4Motors'] = '#include \n';`
Regardless i copied and pasted your code into the

[2016-05-06 12:57] jwill4 commented on #77
Here's some more strange behaviour of the same motor block.

If i place the motor block BEFORE or AFTER another block the code generated is appended as would be expected but with a strange artefact (,0).  The code below was generated when i first placed the delay block then attached the motor block to the end of it.

[code]

Any ideas?

[2016-05-06 22:00] jwill4 commented on #77
Genius!  Thank you, @steveleeto, so simple.
I thought i had tried that.  I am rushing because i am assisting with a Code Camp for 12-14 year olds this weekend.
THANK YOU SO MUCH FOR YOUR TIME.
Sorry @stevoleeto i should have understood what you meant the first time.

I have updated my Zumo32U4 repository.  Thank you.

[2016-05-06 22:00] #77 closed, assigned to nobody

[2016-05-07 04:23] stevoleeto commented on #77
Glad you got it working, and good luck with your code camp!

[2016-08-22 17:26] josx commented on #67
same here, any clue how to solve it!

[2016-08-25 11:14] carlosperate commented on #67
The problem seems to be that it fails trying to guess the port name:

[code]

So it cannot join the `compile_args` list into a parsable string to send to the Arduino IDE.

Try manually setting the port name with the `--port` flag.

If that doesn't work check manually setting all flags, you can have a look at [arduino_web_server.py#L74-L76](https://github.com/BlocklyDuino/BlocklyDuino/blob/b670c35b

[2016-08-25 11:16] carlosperate commented on #67
Jose, could you check if the begging of the console output is the same for you? if any of the other compile flags is `None` it would throw the same exception for a different reason.

[2016-08-25 12:29] josx commented on #67
@carlosperate the same thing, if i set the port with ---port works ok.
thanks for replying

[2016-08-25 22:10] carlosperate commented on #67
Glad you got it working !

[2016-09-01 02:44] sebcagnon opened #80 "Always use latest workspace boxes to upload code"
Currently, when you click upload, the callback takes the code from arduino_content. However, arduino_content is only updated when clicking the arduino tab.

I suggest replacing line 201 in blockly_helper.js from

[code]

[code]

[2016-09-01 02:54] sebcagnon commented on #80
the code to change is in the uploadClick function actually

[2016-09-01 03:46] #20 closed

[2016-09-01 03:47] #80 closed, assigned to nobody

[2016-09-01 03:49] gasolin commented on #75
BlocklyDuino just redirect the compiling effort to Arduino IDE

[2016-09-01 03:49] #75 closed, assigned to nobody

[2016-09-08 08:20] sebcagnon opened #82 "update blockly to latest version"
I am working on several apps with Blockly to control different devices. It would be nice to have a recent version that matches for Arduino.

I'll try to get it working, but it seems some API changed since last year.
ex: `Blockly.Xml.domToWorkspace(workspace, xml)` has become
`Blockly.Xml.domToWorkspace(xml, workspace)`...

[2016-10-20 20:05] dedenker commented on #67
Hi Guys, I also get an error when trying to upload.

Mine seems related to the system call with **arduino** binary, which doesn't accept the INO file, also trying manual:
![upload-error](https://cloud.githubusercontent.com/assets/6285599/19575809/ae52f6be-9710-11e6-95f1-fbfc3a78ab46.png)
This is the error I get via BlocklyDuino and doing it manually.

But I can open and upload the INO file created

[2016-10-24 10:59] carlosperate commented on #67
Which version of the Arduino IDE are you using? That message should read "Arduino can only..." as shown in https://github.com/arduino/Arduino/blob/31a9029c1d89e394f4f8d6948504127120177756/arduino-core/src/processing/app/i18n/Resources_en.po#L223-L227 since before the codebase was migrated to github, and that was around 2014.

Is it possible you are running Arduino 1.0.x or earlier?

[2016-10-26 07:31] dedenker commented on #67
No, 1.16 recent [download](https://www.arduino.cc/en/Main/Software).
It is the x64 version, for what it matters.

[2016-10-26 10:41] carlosperate commented on #67
The thing is that the message screenshot you have provided would only appear on really old versions of the Arduino IDE. Could you check which version of Arduino is launched when executing `arduino` on the command line? My guess is that apart from the latest version you downloaded, you also have an old arduino package (probably installed from your distribution repositories, eg `sudo apt-get install

[2016-10-27 19:11] dedenker commented on #67
I understand, but I just checked again (proper). Same message and my version is 1.6.11 ??? :-S
But I try and grab different version or compile from source.
I will work around it if needed.

[2016-10-27 22:32] carlosperate commented on #67
So, if you've downloaded version 1.6.x, how is BlocklyDuino finding your local copy? Based on the log it falls down to the default arduino command. If you open the terminal and type `arduino` which version opens up?

[2017-01-29 22:46] randmor opened #87 "Until option of While/Do Loop Block generates same Arduino C code as does the While option"
![blocklyduino bug](https://cloud.githubusercontent.com/assets/18433093/22409423/7db881ea-e63e-11e6-8794-acabbbd787ab.png)
It seems to me that if you have a BlocklyDuino Do/While code block with two options (one called "while" and the other called "until") that the code generated should be different selecting one option compared to the other. Further, the Until option would suggest that the check

[2017-01-29 23:09] randmor opened #88 "The Input option on the Functions "To DoSomething" and "To DoSomething Return" blocks generate global variables"
![bug_in_bd](https://cloud.githubusercontent.com/assets/18433093/22408980/53b801a6-e637-11e6-85bb-344e316e73f2.png)
The idea of the Input option with these two Function blocks is to allow you to use arguments in your function call. And while the code properly locally declares the input variables define by the Inputs you have specified, it also declares the same variables as global variables. If th

[2017-02-07 10:27] KristofBostoen opened #89 "Creating new blocks from existing blocks"
Dear ArduBlockly wizards,

I'm looking for a simple way of getting 8-14 years to code and would like to do this by getting them to code an Arduino based robot. I would like to simplify the code for these kids and write some predefined blocks to simplify things. I looked around but I could not find a simple way to do this and was wondering if I'm missing something. I just would like to create a fol

[2017-02-07 14:27] shawt commented on #89
Hi Kristof.

As you probably know, in blockly, there are two parts that affect how a block works:

- Block Definition Code: saved in one of the files in blockly/blocs
- Code Generator Stub: saved in one (or more) of the files in blockly/generators

If you have a block that is close but not exactly doing what you want, you can copy the function that defines a block, change the name and paste it rig

[2017-02-08 10:43] KristofBostoen commented on #89
Thanks a lot for this.
I was a bit confused (given I posted on the wrong forum)  as I'm using
ArduBlockly rather than BlocklyDuino and wondering how similar or different
they are given that there seems to be a crossover of developers.
Will give it a try and let you know how successful I am or if I need a more
specific helping hand :-).

Kind regards
Kristof

On 7 February 2017 at 15:27, shawt <not

[2017-03-07 13:38] antunderwood opened #90 "Images are broken links"
The images for the arduino components are broken

[2017-03-08 02:59] gasolin commented on #90
Thanks for report. We link grove components images directly from wiki
https://seeeddoc.github.io/Grove_Starter_kit_for_Arduino_101/

seems the path is changed now. Are you interest in update them?

[2017-03-08 03:00] #89 closed, assigned to nobody

[2017-03-22 15:30] greenbushlabs opened #92 "where is arduino_uncompressed.js ? [question]"
Where might I find arduino_uncompressed.js (I am seeing arduino_compressed.js ) [question]

[2017-03-22 15:34] shawt commented on #92
I don't think there is an arduino_uncompressed the way there is for
blockly_uncompressed and blocks_uncompressed.  I believe the
arduino_compressed.js file gets built from the generators/arduino.js and
generators/arduino/* files when you run build.py.

Trevor

On Wed, Mar 22, 2017 at 11:30 AM, Rich White <notifications@github.com>
wrote:

--
**************
Trevor Shaw
President
Genesis Learning LL

[2017-04-28 03:29] ghost opened #93 "[Question] Blockly.FieldNumber Problem"
Hi, there.

I'm trying to add FieldNumber to my custom blocks.
But after I built it, the error showed up: **TypeError: Blockly.FieldNumber is not a constructor**

This is my code:
`this.appendDummyInput()
        .setAlign(Blockly.ALIGN_RIGHT)
        .appendField("speed")
        .appendField(new Blockly.FieldNumber('0', 0, 255, 1), "motor_speed");`

But I read the guied here:
[https://developers

[2017-04-28 03:53] ghost commented on #93
Sorry, I found the problem:

from: [https://developers.google.com/blockly/guides/create-custom-blocks/define-blocks#number_field](url)

Maybe it's reason why it can't work.
Thanks.

[2017-07-29 07:49] gasolin commented on #90
fixed in c54f0625403123f094a8811201c15d00688121cf

[2017-07-29 07:49] #90 closed, assigned to nobody

[2017-07-29 07:53] gasolin opened #94 "add note block for comment"
we could add a `note` block to add inline comment, it could list under `text` category

[2017-08-28 06:59] RupinC opened #95 "Cant seem to generate compressed files"
I tried running the build.py, after adding the closure libraries to the correct path, but the setup cant seem to find the libraries.

I also updated the path as it is on my setup on my Windows computer, but that also seems to  not work. The error is get is
Error: Closure not found.  Read this:
https://developers.google.com/blockly/hacking/closure

Also, is there a guide on understanding which file

[2017-09-03 17:52] mateusdepaula22 commented on #29
Hello, I have a problem, could someone help me? I use raspberry pi as a BlocklyDuino server computer. When I try to access from a browser on another computer on my network when uploading, identification errors occur. How do I solve this?

[2017-09-29 12:42] hamam1 opened #96 "Please help me to make a new blocks <3 <3 <3"
Please help me to make a new blocks
i try many times but i can't make a new block

[2017-09-29 12:53] shawt commented on #96
I can probably help. What exactly are you trying to do, and where are you
getting stuck?

Creating new blocks includes three basic steps...

1.) Define the shape and look of your block using the block factory tool
<http://blocklyduino.github.io/BlocklyDuinoFactory/>.

2.) This will generate two chunks of code that need to be moved into your
source files:

the definition code, which gets pasted as-

[2017-09-29 18:57] hamam1 commented on #96
i made that a many of time
can you make vedio please <3 <3 <3 <3 <3

[2017-10-03 16:55] hamam1 commented on #96
pleas any one help me  <3 <3 <3

[2017-10-29 20:17] ethsol opened #97 "for cycle only steps by +1 or -1 no matter what step is specified"
Hi,

  **for** cycles always generate this kind of code, even if **step** is not 1:
 `for (i = 1; i <= 4; i++)`.
It correctly identifies whether a step up or step down method is needed, but always `++` or `--` is used.

[2017-11-04 07:01] merlinesilva opened #98 "cant able to install blockly"
directly it goes to chrome ..cant able to work without net/wifi. Please help to install offline

[2017-12-28 03:08] Blue-Tone opened #101 "Web版の日本語が文字化けする"
http://code.makewitharduino.com/?lang=ja

Mac+Chrome
Win10+Chrome
で発生している。

Win10のChromeアプリでは、文字化けせずOK。

[2017-12-28 03:13] Blue-Tone commented on #101
I'm sorry.
It was a different project.

[2017-12-28 03:13] #101 closed, assigned to nobody

[2018-02-04 08:03] rimand opened #102 "[Problem] Integrated Arduino upload"
I open arduino_web_server.py,and than the text in console show

but if i click upload button in web-based blocklyduino, it show "error uploading program : code 0"  while console in my window show

[code]

How i can fix it? Thankyou

[2018-03-03 20:38] bolanka commented on #14
Hi Sebcanet. I need same thing for my country. Your link broken. Please update. Thanks

[2018-03-03 22:07] SebCanet commented on #14
Sorry, new link:
[http://www.libreduc.cc/wiki/doku.php/en/blockly_rduino/create_blocks](http://www.libreduc.cc/wiki/doku.php/en/blockly_rduino/create_blocks)
Tell me if you need more information.

[2018-03-07 15:14] gasolin commented on #98
@merlinesilva can you elaborate more on the problem you met? BlocklyDuno is not Blockly though

[2018-03-07 15:44] bolanka commented on #14
Thanks SebCanet

[2018-03-13 10:19] SebCanet opened #103 "Integrate to IDE"
Hi,
I've finished a jar file to integrate BlocklyDuino as a 'tool', which permit to send command from Blockly to IDE.
Maybe we should create another repo for that ?

[2018-03-13 10:22] SebCanet opened #104 "Fork from Blockly"
Hi,
I'm working on my Blockly@rduino, and I thought about forking...
As my project was a new project, with some of your code, I created new repo without forking yours. But maybe for easy update between project we should create a new BlocklyDuino, forked from Blockly which permit to benefit of all new update from them (numerous update...).
After that I'll re-create mine by forking yours.

What do y

[2018-03-14 05:22] gasolin commented on #104
Yeah I'd like to have update-to-date BlocklyDuino based on Blockly as well. Is Blockly@rduino add any new blocks or new features based on BlocklyDuino?

[2018-03-14 05:23] gasolin commented on #103
sure :+1: I can create one, which project name do you prefer?

[2018-03-14 10:06] SebCanet commented on #103
What do you think of 'BlocklyDuino_IDE_plugin' ?

[2018-03-14 10:09] SebCanet commented on #104
I add a lot of feature, some thanks to @carlosperate , some are just visual enhancement.
What I was thinking was just a BlocklyDuino, as simple as possible, just something over Blockly. That's why I suggest a new BlocklyDuino repo based upon a fork from Blockly.
I tested the latest Blockly, put your generator file on it and it seems to work perfectly.

[2018-03-14 15:23] gasolin commented on #104
@SebCanet great to hear it works with latest Blockly!

I created branch `v2` https://github.com/BlocklyDuino/BlocklyDuino/tree/v2 as PR destination. You can send pull request to `v2` and we can see what we can improve from the new base.

It will be nice if we can make all BlocklyDuino related changes to a separate folder and patch it into Blockly. But it's not necessary for the first attempt.

[2018-03-14 15:27] gasolin commented on #103
I created blank `BlocklyDuino_IDE_plugin` repo in https://github.com/BlocklyDuino/BlocklyDuino_IDE_plugin and add you as admin. You can add source there. Feel free to ping me if you need any help.

[2018-03-14 19:11] SebCanet commented on #104
I started something from Blockly repo : [https://github.com/BlocklyDuino/BlocklyDuinoReboot](https://github.com/BlocklyDuino/BlocklyDuinoReboot)

Not totally functionnal, I'll work on it later.
But, just the idea, what do you think of this way ?

[2018-03-16 07:28] gasolin commented on #104
All changes in https://github.com/BlocklyDuino/BlocklyDuinoReboot/commit/badc5d8395d8823b8119718144310b5762c2ea3a ?

I like put all changes in BlocklyDuino folder :+1:
Do you think if we could put Blockly as a submodule? like [node-blockly](https://github.com/mo4islona/node-blockly) did https://github.com/mo4islona/node-blockly/blob/master/package.json#L26

As I said welcome to send the PR to http

[2018-04-06 17:45] mariodebian opened #105 "Linux support"
Hi.

I made a patch to support Linux arduino command and tty search.

You can get at:

https://github.com/max-linux/max-desktop/blob/9dbe23819c065b5b3063ffe2772a13e94d1c0aef/max-blocklyduino/patches/01_linux_support.patch

[2018-04-13 07:34] gasolin commented on #105
Looks good, @mariodebian could you send a PR so I can merge it?

[2018-06-14 07:39] talalz94 commented on #96
@shawt I followed your tutorial but when I ran the build.py, it gave the following error:

Error: Closure not found.  Read this:
https://developers.google.com/blockly/hacking/closure

-I only made changes to the "C:\Users\bilal\Desktop\BlocklyDuino-gh-pages\blockly\blocks\grove.js", where I edited the block slightly just as a test

[2018-06-15 12:04] shawt commented on #96
Hi Talal,

Did you read the link and verify that the closure library is located in the
right spot.

I sometimes get this error because I usually leave the closure library out
of my git repo, so when I work on a different machine and clone my repo, I
forgot to download the closure library.

Trevor

On Thu, Jun 14, 2018 at 3:39 AM, Talal Zahid <notifications@github.com>
wrote:

--
**************
Tre

[2018-06-19 07:18] talalz94 commented on #96
@shawt Thanks. That did the trick. The program now compiles successfully.

Another issue though. After I run the build.py, the index.html stops working.

![image](https://user-images.githubusercontent.com/29313245/41582288-ac3c061c-73ba-11e8-8cb3-7812d2bde873.png)

As you can see, I cant click on the blocks arudino or the xml tabs. Any idea what might be happening?

[2018-06-19 09:44] shawt commented on #96
I bet it's a syntax error in one of your block definitions or generators.

On Tue, Jun 19, 2018, 3:18 AM Talal Zahid <notifications@github.com> wrote:

[2018-06-19 10:33] talalz94 commented on #96
@shawt It turned out Microsoft Edge was causing the problem.

Sorry to be a bother, a final problem. When I upload the code, it returns the following error:

![image](https://user-images.githubusercontent.com/29313245/41592386-d67e9956-73d5-11e8-951b-08559a9e6acd.png)

the log generated is:

C:\Users\bilal\Desktop\New folder\BlocklyDuino-gh-pages>arduino_web_server.py
Blocklyduino can now be acces

[2018-06-19 12:04] shawt commented on #96
If you are running off of the demo app, I think the idea is that the button
pushes the code to a web server running locally that will compile and flash
the code to a board the way that Arduino Create <https://create.arduino.cc>
does.

This is not part of the sample program, you would have to create this
yourself.  The Arduino Create Agent
<https://github.com/arduino/arduino-create-agent>is open so

[2018-06-20 05:26] talalz94 commented on #103
@gasolin I having trouble uploading the code generated using your tool, onto the arduino board. I am aware that we are to create a webserver using the Aruidno IDE environment. Can you guide me on how I can achieve that or I can use the above mention plugin to directly send the code to the Arduino IDE for uploading purposes?

Thanks

[2018-06-20 05:42] talalz94 commented on #67
@carlosperate
Sorry to be a bother, I have a similar problem. When I upload the code, it returns the following error:

![image](https://user-images.githubusercontent.com/29313245/41639274-9167a56e-7476-11e8-9114-951136bb36fa.png)

the log generated is:

C:\Users\bilal\Desktop\New folder\BlocklyDuino-gh-pages>arduino_web_server.py
Blocklyduino can now be accessed at http://127.0.0.1:8080/
127.0.0.1

[2018-06-20 09:41] shawt commented on #67
Is there a web server running locally to handle your code?

The web app will just produce the Arduino code. You need something running
on the computer to compile and upload the code to your board.

On Wed, Jun 20, 2018, 1:42 AM Talal Zahid <notifications@github.com> wrote:

[2018-06-20 11:52] carlosperate commented on #67
Sounds like the python server is trying to find the Arduino installation, cannot find it, and crashes.
Have you install the Arduino IDE in the default location?

[2018-06-22 10:46] talalz94 commented on #67
@shawt Isnt arduino_web_server.py creating the web server?
What I am basically doing is that:

-I am using the app at 'BlocklyDuino-gh-pages/blockly/apps/blocklyduino/index.html' to create my code for arduino.

-I run arduino_web_server.py

-I click upload from the application (index.html) and I am presented with the error I just presented.

[2018-06-22 11:21] talalz94 commented on #67
@shawt thanks for all the help. I got it the arduino IDE wasnt properly installed.

[2018-06-22 11:22] talalz94 commented on #67
@carlosperate that did the trick. Thanks

[2018-06-26 11:02] SebCanet commented on #103
That's finished !
I created 2 folders:
- sources: with files created with NetBeans IDE
- BlocklyDuinoPlugin: folder contains everything, just have to copy it in ArduinoIDEfolder\tools

I started a minimal Readme, you just have to had explanations.

[2018-07-21 11:19] logix5 opened #106 "Using images in block"
Hi !!

We are updating blockyDuino for my board and i am adding more sensors, ... At the moment is ok, and i am working in offline mode. I have shared the project with more people to test  the block, i have had a little surprise withe the images of my blocks.

I like to use images because the student prefer, but when other colleagues use the version in other operating system as linux, not all imag

[2018-07-21 11:35] SebCanet commented on #106
Hi,
your project is cool!
What is your MRT Duino board ? Where can I have information about that ?
Quickly answering, I have this kind of problem when I work on Windows because it is not upper and lower case sensitive.
Could you verify ?

For kids and workshop, I've finished a plugin to embed BlocklyDuino in Arduino IDE: [https://github.com/BlocklyDuino/BlocklyDuino_IDE_plugin](https://github.com/

[2018-07-21 18:56] logix5 commented on #106
Hi
Thanks!! you are right because this files the extension was .PNG. I have updated tp .png and in my computer there is no problem but i will test on Monday in my laptop with this issue. I let you know.

i am working hard and i want to add more and more block with different sensors ans actuator (mp3, sd, serveral displays, ... all of them). At the moment i have create this block in Scratch using e

[2018-10-04 13:21] logix5 opened #107 "How can i create this example code using blocks"
Hi !!

I want to create a dynamic code into a definition  function. Example

void iot_subscribe(){
	IOT.Subscribe(String(String("one")));
	IOT.Subscribe(String(String("two")));
....
....
}

One block must add IOT.Subscribe(String(String("one"))); and other block must add IOT.Subscribe(String(String("two")));

If i have more block and  i need to insert each code in the iot_subscribe() function.

Ho

[2018-10-04 15:02] #106 closed, assigned to nobody

[2018-10-10 17:28] SebCanet commented on #107
Hi,
I'm not sure at all about what you expect. Do you have any example ?
Could you draw something or explain step by step ?
Thanks.

[2018-10-20 08:15] logix5 commented on #107
HI SebCanet,

I think i have found the solution. I need to update the arduino.js file and i need to create antoher static block in the header Arduino.functionNamesIOT_:

I am trying add MQTT using ESP8266, and in the topic subcrite maybe i need to declare the fucntions in the header. And these fucntions depending of the user

At the moment in Arduino mode MQTT is not working properly only publish

[2018-12-31 22:47] mesut25 commented on #96
http://blocklyduino.github.io/BlocklyDuinoFactory/

oluşturdugum kodu    göremiyorum  basit bir  video anlatım var mı?  .xml     oluşturdugum block yok
benim adımlar......
1. http://blocklyduino.github.io/BlocklyDuinoFactory/   run.....
2. New blok  ok  save  factory .xml
3. blockduinofactory_factory .xml
3. ardublockly_v0.1.2_windows versiyon  run

benim oluşturdugum blok    blockduinofactory_fac

[2019-01-07 09:26] philippejadin commented on #104
I'd like to help on integrating Blockly as a sub module.
The idea would be to have this kind of directory structure :

/blockly -> google blockly untouched, git submodule
/blocklyduino -> all (y)our modifications there
/index.html -> a single index.html entry point
/README, etc...

Probably inside /blocklyduino there will be a new build.py script, that first runs google build or extends it, then a

[2019-01-07 10:24] gasolin commented on #104
@philippejadin sounds great!

[2019-01-07 10:31] SebCanet commented on #104
That's what I started to do with the BlocklyDuino Reboot, and re write the generator to make compatible with the new Bockly. But I still have some few pb with it...

[2019-01-07 10:36] philippejadin commented on #104
Yes but you need to separate google blockly and blocklyduino in two separate directories and never touch anything in google blockly else you cannot update. I started working on it here : https://github.com/philippejadin/BlocklyDuino/tree/v2

Basically I'm taking latest google blockly and putting back the bits you added in reboot, but I force myself to only work in /blocklyduino :-)

When it will

[2019-01-07 10:41] SebCanet commented on #104
Ok, I see what you mean, no pb I do not know Github thi much to be able to decide the good method, perfect if you know.
Thanks, it will replace actual BlocklyDuino Reboot.

[2019-01-07 12:34] philippejadin commented on #104
And here is the pull request : https://github.com/BlocklyDuino/BlocklyDuino/pull/108

You can also test it with : `git clone --recurse-submodules https://github.com/philippejadin/BlocklyDuino`
Then open /blocklyduino/index.html

The sooner we have a common ground, the better, so if you like it, accept the pr :-)

[2019-01-12 09:30] gasolin opened #109 "use arduino-cli instead of Arduino IDE"
use https://github.com/arduino/arduino-cli instead of install full Arduino IDE

or with js npm wrapper https://www.npmjs.com/package/arduino-cli

[2019-01-12 11:03] philippejadin commented on #109
I'm working on it here : https://github.com/philippejadin/arduino-cli-agent
It's a small script that run in the terminal and provides a server for compilation and upload.

There is both a python and a nodejs version. But both are work in progress. Would you prefer to use python or nodejs? I'm not entirely settled on this. It seems that with nodejs, making crossplatform binary build is easier, and

[2019-01-12 11:14] philippejadin opened #110 "Localization system"
Continuing the discussion from  https://github.com/BlocklyDuino/BlocklyDuino/pull/108#issuecomment-453732776

There are several options for translations :
- use the same syntax in blocks as blockly, with code to convert this syntax to the correct language at runtime. This is the most logical way, but we need to figure out how to parse our own blocks in the "boot" process of blockly, which is made

[2019-01-12 11:16] SebCanet commented on #109
Just my point of vue...
For modularity I prefer Python script, this way everybody can embed it in C soft, or anything else.
Nodejs is for...nodejs only ? And as you said it's very FAT. And a lot of people in education use slow/old computer.
But if you can do two version, that's great :-D
Thanks for all  your work, you relaunched BlocklyDUino, ended my never finished BlocklyDuino Reboot, and we (Bl

[2019-01-12 18:23] gasolin commented on #110
I think at the v2 begining phase it's not hard to patch
https://github.com/google/blockly/blob/3342a375ff0cee0be42062765d24922be2917170/msg/js/en.js
to add new strings and build them with blockly's build.py script. We can import the same msg file for l10n support

And then we can make a script to do something similar to generate the msg patch file (git diff) and a script to apply the diffs (git ap

[2019-01-12 22:42] SebCanet commented on #110
What I'm thinking is about easyness. The real success of Blockly (upon Scratch like, made with Flash),a nd why I choosed to work on it is the easibility to change anything, just open with a text editor and that's all. That's why many teachers use my version, enhance it, etc.
I think diff, merge, patch, compile are not user-friendly for newbies like french teacher...

[2019-02-01 19:45] philippejadin commented on #109
Maybe as a first step I could just adapt the current python server of blocklyduino to use arduino-cli ?
As I understand, it "just" need to respond to a post request to / with the code provided there.

This would be a nice small first step. If you  agree it's a good idea, I'll work on it and make a pull request.

[2019-02-02 12:58] gasolin commented on #109
sure, any progress is appreciated :)

[2019-08-15 07:27] etc1208 opened #112 "Build FATAL ERROR"
when I run `python build.py`,there is a fatal error:
[code]
btw, I had download closure-library and place it next to Blocky's root directory.
Then I comment this line of code in build.py: `params.append(("language", "ECMASCRIPT5"))`,this time I can build successfully,but I notice the blockly_compressed.js file become bigger then before.

[2020-03-31 15:52] kfkafka opened #113 "can't find the given path as Step 4"
![Screenshot (2)](https://user-images.githubusercontent.com/62951834/78046952-6b8dd500-7395-11ea-96e8-89a1c705c828.png)
as mentioned in step 4. i cant find the folder 'apps'. Please help.

[2020-04-01 00:45] SebCanet commented on #113
Hi,
did you check you have the same folders as in the repository?
When you unzip, you should have folders like this : "BlocklyDuino-master/blockly/apps/blocklyduino/"

[2020-04-04 14:15] kfkafka commented on #113
![Screenshot (3)](https://user-images.githubusercontent.com/62951834/78452752-c2075600-76aa-11ea-8f43-48e9520aebdd.png)
Hi,
yes, I have checked, there is no folder in the repository and the unzipped folder

[2020-04-04 14:22] SebCanet commented on #113
Hi,
it seems you have too many blockly installed in the same folder :-D
When you unzip BlocklyDuino, you have folders like this screen capture:
![Image 1](https://user-images.githubusercontent.com/6362199/78453184-5b753e80-7690-11ea-99c8-f2629651d26a.png)

In blue it's all the folders, in red it's what you have to open to find 'index.html'.

[2020-04-09 11:57] kfkafka commented on #113
Okay, so would you please share the link to the right BlocklyDuino which would have the exact files

[2020-04-09 12:33] SebCanet commented on #113
You could download : [https://github.com/BlocklyDuino/BlocklyDuino/archive/gh-pages.zip](https://github.com/BlocklyDuino/BlocklyDuino/archive/gh-pages.zip)
Or tes new version: [https://github.com/BlocklyDuino/BlocklyDuino-v2/archive/master.zip](https://github.com/BlocklyDuino/BlocklyDuino-v2/archive/master.zip)

[2020-05-18 10:22] DevT0ny opened #114 "Ultrasonic ranger block has only one pin option"
Ultrasonic ranger block has only one pin but there's no option for 2 pin type sensor.
Ping type sensor has 3 pins, 2 for supply 1 data pin but HC-SR04 sensor is most widely used and it has 4 pins 2 supply 2 data ( echo & trig pins ).
I found library where both  type is supported so please implement this.
https://github.com/ErickSimoes/Ultrasonic

[2020-05-18 13:58] #113 closed, assigned to nobody

[2020-05-18 14:00] #110 closed, assigned to nobody

[2020-05-18 14:00] SebCanet commented on #109
Added in v2.

[2020-05-18 14:00] #109 closed, assigned to nobody

[2020-05-18 14:03] SebCanet commented on #114
Many thanks, that's a good idea. But this original project was only created for Grove sensors, that's why it has only pin block entry, the 2nde one ies automatically the next number.
Go to https://github.com/BlocklyDuino/BlocklyDuino-v2/issues/3

[2020-05-18 14:03] #114 closed, assigned to SebCanet

[2020-05-18 14:06] #104 closed, assigned to nobody

[2020-05-18 14:06] #82 closed, assigned to nobody

[2020-05-18 14:07] #103 closed, assigned to nobody

[2020-05-18 14:07] philippejadin commented on #104
By the way, submodules might create problems as well, so let me know how it goes with this "solution"

[2020-05-18 14:08] SebCanet commented on #94
Go to https://github.com/BlocklyDuino/BlocklyDuino-v2/issues/4

[2020-05-18 14:08] #94 closed, assigned to SebCanet

[2020-05-18 14:10] SebCanet commented on #104
Did you have a look on v2? What do you think about it?
Is it what you proposed?

[2020-08-15 18:22] mxochicale opened #115 "Setting up arduino_web_server.py on Ubuntu 18.04"
There is no detailed instructions on how to run `python arduino_web_server.py` on GNU/Linux. That said, I am opening this issue to, at least, provide some instructions for setting it up on Ubuntu 18.04x64.

[2020-09-15 08:25] #115 closed, assigned to nobody

[2020-11-06 02:13] skill91002 opened #117 "Something goes wrong in index.html after build.py"
I tried to build BlocklyDuino on my local device, but encountered some problems,
can anyone help me?

p.s. I clone the project, and build it directly. Nothing changes in code.

Before I run "python build.py" in BlocklyDuino/blockly,
everything works fine
![image](https://user-images.githubusercontent.com/65216099/98317822-3676ee80-2018-11eb-87d7-57dede92acc3.png)

But After I build it, the blocks

[2020-11-06 03:24] #117 closed, assigned to nobody

[2020-11-06 03:26] skill91002 commented on #117
I know what's going on.
It's because some functions are missing in blockly_compressed.js.
In my way, I add these definitions in it, and the webpage works fine.

_goog.isString=function(a){return"string"==typeof a};
goog.isNumber=function(a){return"number"==typeof a};
goog.isFunction=function(a){return"function"==goog.typeOf(a)};
goog.isArray=function(a){return"array"==goog.typeOf(a)};_

[2020-11-06 07:28] SebCanet commented on #117
Hi,
this project is not maintained anymore, you should give atry at new version BlocklyDuino2: [https://github.com/BlocklyDuino/BlocklyDuino-v2](https://github.com/BlocklyDuino/BlocklyDuino-v2)
I've not yet finished code generation for all blocks, but everything else works fine.

[2020-11-11 10:52] ahmedtaimoorpk opened #118 "BUILD error"
Exception in thread Thread-2:
Traceback (most recent call last):
  File "C:\Python27\lib\threading.py", line 801, in __bootstrap_inner
    self.run()
  File "build.py", line 162, in run
    self.gen_core()
  File "build.py", line 181, in gen_core
    [os.path.join("core", "blockly.js")])
  File "..\closure-library\closure\bin\calcdeps.py", line 238, in CalculateDependencies
    ResolveDependencies

[2021-02-05 15:00] Mohammadgeek opened #119 "more grove in BlocklyDuino"
hello, I look at the Blocklyduino project but I need to work on more modules in the web server, and how to customize and increase grove for Blocklyduino, in this source code all modules only design at [Seeed Studio](https://www.seeedstudio.com/), what changes the source for customizing **another grove**?

[2021-02-05 16:16] SebCanet commented on #119
Hello,
the original BlocklyDuino project is no longer maintained at all. I am currently working (when I have time...) on its reboot: BlocklyDuino2 (https://github.com/BlocklyDuino/BlocklyDuino-v2).
I don't have time to add blocks, I'm working on the background and the new features of Blockly.
If you're looking for a project with a lot of blocks, there are other projects like the one I did previous

[2021-02-05 16:17] #119 closed, assigned to nobody